# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# TypeScript
lib/
dist/
*.tsbuildinfo

# Tests
coverage/

# IDE/Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Secrets
.sops-key
*.enc.json
secrets*.yaml
secrets*.yml
secrets*.json

# Logs
logs/
*.log

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local